nav img{
    width: 100px;
}
li a{
    color:black;
}
.bibi-globe {
    width: 30px;
    height: 30px;
}
.bibi-list
.bibi-person-circle{
    color: grey;
}
.bi-list,
.bi-person-circle{
    width: 20px; /* Dimensione personalizzata */
    height: 20px; /* Dimensione personalizzata */
    fill:grey;
}
.dropdown-toggle::after {
    display: none; /* Nasconde la freccia del dropdown */
}
.svg-border {
    border: 1px solid grey; /* Cambia il colore e la larghezza del bordo come desideri */
    border-radius: 40px; /* Questo rende il bordo arrotondato, se desiderato */
    height: 45px ;
    width: 70px;
    transition: box-shadow 0.3s;
}
.svg-border:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Ombreggiatura al passaggio del mouse */
}
.dropdown-border {
    border-bottom: 1px solid rgb(174, 170, 170); /* Cambia il colore e la larghezza del bordo come desideri */
    padding-bottom: 10px; /* Aggiunge spazio sotto il testo */
    margin-bottom: 10px; /* Aggiunge spazio sotto il bordo */
}
.bi-plus-circle-fill{
    fill:rgb(226, 66, 93);
    width: 30px;
    height: 25px;
}
button {
    border: 1px solid gray; /* Imposta il bordo grigio */
    background-color: rgb(211, 205, 205); /* Imposta uno sfondo bianco per contrasto */
    color: black; /* Colore del testo */
    padding: 0.5rem 1rem; /* Aggiungi padding per un aspetto migliore */
    cursor: pointer; /* Cambia il cursore quando si passa sopra il bottone */
    border-radius: 20px;
    height: 40px;
}
button:hover {
    background-color: rgb(99, 95, 95); /* Cambia lo sfondo al passaggio del mouse */
}
h3+button{ 
    background-color: rgb(226, 66, 93); 
    width: 35px;
    height: 35px;
    color: white;
    border: none;
    padding: 5px;
}
section img {
    width: 80px;
    height: 150px;
    border-radius:5%;
}
.card{
    border: none;
    
}
section{
    margin-left: 80px;
}
.card-img-top{
    border-radius: 5%;
}